# Hide credentials
.env

# Ignore datasets
data/*.csv

# Python cache
__pycache__/
*.pyc

logs/
*.log
.DS_Store

# Airflow logs
Airflow/logs/
airflow/logs/

# dbt build files
target/
logs/

# mac files
.DS_Store

